<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    My name is David Romero, I'm a Software Engineer and I work as Software Developer. I am currently working for Sngular. In addition, in my free time I research new technologies such as Docker, new java releases or Amazon environment.

	My work focuses on backend technologies. I am passionate about development, especially Java and Spring Framework. I'm trying to learn about Docker, Amazon and all the associated environment.


	I also like to share what I am learning, so if I have learned something and it has helped me in a development, I will share it in this blog or on GitHub and, hopefully, I can help others.

	If you're interested in what I do, you can follow me on, GitHub and Linkedin, or write me. Regards!
</div>